body {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: #333;
}

.container {
    width: 1024px;
    height: 689px;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url('/pps.jpg');
}

.botones {
    height: 150px;
    width: 300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.texto {
    text-align: center;
    width: 300px;
    height: 100px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

button {
    height: 50px;
    width: 75px;
    background-color: transparent;
    border: 3px solid black;
    border-radius: 20px;
    cursor: pointer;
}

.puntajes {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-weight: bolder;
    font-size: 20px;
    color: #3D0000;
}